aiosignal==1.3.1
appdirs==1.4.4+computecanada
attrs==22.1.0+computecanada
certifi==2021.10.8+computecanada
charset-normalizer==2.0.12+computecanada
click==8.0.4
cycler==0.11.0+computecanada
distlib==0.3.6
docker-pycreds==0.4.0+computecanada
filelock==3.8.0+computecanada
fonttools==4.32.0+computecanada
frozenlist==1.3.0+computecanada
future==0.18.2+computecanada
gitdb==4.0.10+computecanada
GitPython==3.1.30+computecanada
googledrivedownloader==0.4+computecanada
grpcio==1.41.1+computecanada
idna==3.3+computecanada
isodate==0.6.1+computecanada
jinja2==3.1.1+computecanada
joblib==1.1.0+computecanada
jsonschema==4.17.3
kiwisolver==1.3.2+computecanada
markupsafe==2.0.1+computecanada
matplotlib==3.5.1+computecanada
monty==2022.3.12
mpmath==1.2.1+computecanada
msgpack==1.0.2+computecanada
networkx==2.8+computecanada
numpy==1.22.2+computecanada
packaging==21.3+computecanada
palettable==3.3.0+computecanada
pandas==1.4.1+computecanada
pathtools==0.1.2+computecanada
pillow==9.0.1+computecanada
pillow-simd==7.0.0.post3+computecanada
platformdirs==2.5.4
plotly==5.7.0
protobuf==3.20.3
psutil==5.9.4+computecanada
pymatgen==2022.0.10+computecanada
pyparsing==3.0.8+computecanada
pyrsistent==0.19.2
python-dateutil==2.8.2+computecanada
pytz==2022.1+computecanada
pyyaml==6.0+computecanada
ray==2.0.0+computecanada
rdflib==6.1.1+computecanada
requests==2.27.1+computecanada
ruamel-yaml-clib==0.2.6+computecanada
ruamel.yaml==0.17.21
scikit-learn==1.0.2+computecanada
scipy==1.8.0+computecanada
sentry-sdk==1.14.0+computecanada
setproctitle==1.3.2+computecanada
six==1.16.0+computecanada
smmap==5.0.0+computecanada
spglib==1.16.3+computecanada
sympy==1.10.1
tabulate==0.8.9+computecanada
tenacity==8.0.1+computecanada
threadpoolctl==3.1.0
torch==1.10.0+computecanada
torch-geometric==2.0.2+computecanada
torch-scatter==2.0.9+computecanada
torch-sparse==0.6.12+computecanada
torchaudio==0.10.0+computecanada
torchtext==0.11.0+computecanada
torchvision==0.11.1+computecanada
tqdm==4.63.1+computecanada
typing-extensions==4.1.1+computecanada
uncertainties==3.1.6+computecanada
urllib3==1.26.9+computecanada
virtualenv==20.17.0
wandb==0.13.9+computecanada
yacs==0.1.8+computecanada
